body {
  margin: 0;
  background-color: #000;
  overflow: hidden;
}


.bkg {
  height: 100vh;
  width: 70%;
  margin-left: 10%;
  background: url(roboplinth2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.experience {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.scrollTarget {
  position: absolute;
  height: 300vh;
  width: 100px;
  top: 0;
  z-index: 0;
}

.heading {
  color: white;
  opacity: 10000;
  position: absolute;
  top: 20;
  left: 20;
}

.vignette-radial {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}

.vignette-radial:after {
  pointer-events: none;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(circle, transparent 60%, black 150%);
  /* background-color: red; */
}

.gsap-marker-scroller-start,
.gsap-marker-scroller-end,
.gsap-marker-start,
.gsap-marker-end {
  opacity: 0 !important;
}

#btn {
  position: absolute;
  z-index: 40;
}

@font-face {
  font-family: monument;
  src: url(MonumentExtended-Regular.otf);
}


#text1 h1 {
  position: absolute ;
  z-index: 40;
  /* margin-top: 15%; */
  color: white;
  font-family: monument;
  /* margin-left: 18%; */
  top: 34%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  font-size: 6vw;
  font-weight: 700;
  /* animation: transformAnimation1 3s forwards 8s; */
}



#text2 h1 {
  position: absolute;
  z-index: 41;
  /* margin-top: 28%; */
  color: white;
  font-family: 'Montserrat', sans-serif;
  top: 55%; 
  left: 25%; 
  transform: translate(46%, 0%);
  /* margin-left: 14%; */
  font-size: 3.2vw;
  font-weight: 700;
  /* animation: transformAnimation2 3s forwards 8s; */
}



.visible {
  opacity: 0;
}

.visible2 {
  visibility: hidden;
}

.visible3{
  opacity: 1;
  visibility: visible;
}

.btn-grad {
 background-color: #00000000;
  margin-left: 42.75%;
  /* padding: 10px 10px; */
 
  height: 10%;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  /* background-size: 200% auto; */
  /* color: white; */
  /* box-shadow: 0 0 20px #eee; */
  /* border-radius: 12px; */
  display: block;
  width: 12.5%;
  opacity: 0.5;
  /* border: 3px solid white; */
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  /* background-color: #ffffffbb; */
  color: #ffffff;
  text-decoration: none;
  opacity: 1;
}


@media (max-width: 1200px) {
  .btn-grad {
    font-size: 100% !important;
  }

}

@media (max-width: 580px) {
  .btn-grad {
    font-size: 75% !important;
    padding: 0 !important;
    
  }

}

.viewer .controls {
  display: none !important;
  visibility: hidden !important;
}

.image-container {
  position: relative;
  width: 300px;
  height: 200px;
}

.initial-image, .hover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
}

.hover-image {
  opacity: 0;
}

.image-container:hover .initial-image {
  opacity: 0;
}

.image-container:hover .hover-image {
  opacity: 1;
}

.container-preloader {
	align-items:center;  display:flex; height:100%;
  justify-content:center; position:fixed; left:0; top:0; width:100%; z-index:900;
}
.container-preloader .animation-preloader {
	position:absolute; z-index: 100;}

.container-preloader .loader-section {
  background-color: black;  height: 100%;
  position: fixed;  top: 0;  width: calc(50% + 1px);
}
.container-preloader .loader-section.section-left {
  left: 0;
}
.container-preloader .loader-section.section-right {
  right: 0;
}
/* Fade effect on loading animation */
.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}
/* Curtain effect */
.loaded .loader-section.section-left {
  transform: translateX(-101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}
.loaded .loader-section.section-right {
  transform: translateX(101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

